* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Styles */
:root {
    --font-title: white;
    --bg-blue:rgb(128, 159, 196);
    --bg-body: rgb(181, 202, 209);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-body);
    font-size: 25px;
}
  
.title-bar {
    height: 70px;
    width: 100%;
    font-size: 36px;
    background-color: var(--bg-blue);
    color: var(--font-title);
    align-content: center;
    text-align: center;
}

.col-container {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    column-gap: 40px;
}

.column-left {
    padding: 5px;
    width: 25%;
    max-width: 300px;
}

.column-right {
    padding: 5px;
    width: 100%;
}

#label-search {

    margin-top: 20px;
    margin-left: 6px;
}

#city-name {
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;

    font-size: 20px;
}

.btn-search {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}

.btn-city {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

#today-area {
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}

#label-five-day {
    font-size: 30px;
    margin-top: 20px;
}